/*generals*/
:root {
	--color-secondary: #0084FD;
	--color-dark: #333333;
	--color-light: #FFFFFF;
	--color-primary: #9792E4;
	--color-bg-card: #B5DDFF;
	--color-contrast: #FCC060;
	--color-text: #424242;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
body{
    font-family: 'PT Sans', sans-serif;
    line-height: 2;
}
.debug{
    border: 1px solid red;
}
img{
    width: 100%;
}
a{
    text-decoration: none;
    color: white;
}
h3{
    font-size: 1.5em;
    line-height: 1.5;
}
h2{
    font-size: 1.8em;
    line-height: 1.3;
}
/******************************************UTILITIES************************************/
/* buttons*/
.btn.circle{
    padding: 0;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    line-height: 60px;
}
.btn{
    border-radius: 25px;
    padding: 10px 45px;
    background-color: var(--color-primary);
    color: white;
    display: inline-block;
    font-size: 1.1em;
}
/* backgrounds */
.bg-color-light{
    background-color: var(--color-light);
}
.bg-color-primary{
    background-color: var(--color-primary);
}
.bg-color-secondary{
    background-color: var(--color-secondary);
}
.bg-card{
    background-color: var(--color-bg-card);
}
/*text*/
.text-white{
    color: #FFFFFF;
}
.text-black{
    color: black;
}
.text-color-secondary{
    color: var(--color-secondary);
}
.text-color-primary{
    color: var(--color-primary);
}
.text-bold{
    font-weight: bold;/*useless?*/
}
.text-center{
    text-align: center;
}
/* containers*/
.container{
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
}
.container-576{
    width: 100%;
    max-width: 576px;
    padding-left: 60px;
    padding-right: 60px;
    margin:0 auto;
}
/* flex*/
.d-flex{
    display: flex;
    flex-flow: row wrap;
}
.justify-between{
    justify-content: space-between;
}
.align-center{
    align-items: center;
    align-content: center;
}
/* spacing*/
.pd-y-10{
    padding-top: 15px;
    padding-bottom: 15px;
}
.pd-y-20{
    padding-top: 30px;
    padding-bottom:30px;
}
.pd-x-10{
    padding-left: 15px;
    padding-right: 15px;
}
.pd-x-20{
    padding-left: 30px;
    padding-right:30px;
}
.mg-y-10{
    margin-top: 10px;
    margin-bottom: 10px;
}
.mg-y-20{
    margin-top: 20px;
    margin-bottom: 20px;
}
.mg-x-10{/*useless?*/
    margin-left: 10px;
    margin-right: 10px;
}
.mb-20{
    margin-bottom: 20px;
}
.mb-40{
    margin-bottom: 40px;
}
/* border*/
.border-radius-soft{
    border-radius: 20px;
}
.border-radius-hard{
    border-radius: 40px;
}
.circle{
    border-radius: 50%;
}
/**********************************HEADER*******************************************/
.fa-bars{
    font-size: 1.5em;
}
nav .btn{
    padding: 5px 10px;
    color: black;
    background-color: #fff;
}
#hamburger-text{
    display: none;
}
/************************************MAIN*********************************************/
.card{
    overflow: hidden;
}
.card-img{
    width: 80%;
    margin: 0 auto;
}
#intro .card-img{
    position: relative;
    top: 10px;
}
.big-i{
    font-size: 5em;
}
#intro .btn{
    padding: 5px 50px;
}
/***********************************FOOTER********************************************/
footer{
    background-color: var(--color-dark);
}
footer a{
    text-decoration: underline;
    color: var(--color-primary);
}